body {
  font-family: 'Maven Pro', sans-serif;
  background-color: #FAFAFA !important;
}

.centered, centered td, centered th {
  vertical-align: middle !important;
  text-align: center !important;
}
