<table class="table-condensed calendar-table">
  <tr data-ng-repeat="event in filteredEvents = ($ctrl.events | filter:{alreadyFinished:false} | orderBy:'startDate')"
      data-ng-class="event.alreadyFinished ? 'deactivated' :''">
    <td><i ng-style="{color: event.color}" data-ng-class="event.wholeDayEvent ? 'fa fa-calendar' : 'fa fa-calendar-plus-o'"></i>
    </td>
    <td style="text-align: left;">{{event.title}}
    </td>
    <td>{{!event.wholeDayEvent ? (event.startDate | date:'HH:mm') : ''}}</td>
    <td>{{!event.wholeDayEvent ? (event.endDate | date:'HH:mm') : ''}}</td>
  </tr>
</table>
<div ng-hide="filteredEvents.length">
  Nothing on your calendar
</div>
