<table class="table-condensed centered">
  <tr>
    <td>
      <h1 style="font-size: 60px"><i class="wi" data-ng-class="$ctrl.weather.weather[0].icon | convertToIcon" title="{{$ctrl.weather.weather[0].description}}"></i></h1>
      <h3 style="font-size: 30px">{{$ctrl.weather.weather[0].main | translateWeatherGerman}}</h3>
    </td>
    <td>&nbsp;</td>
    <td>
      <h1 style="font-size: 45px">{{$ctrl.weather.main.temp | number : 0}}°C</h1>
      <h5><i class="wi wi-sunrise"></i> {{$ctrl.weather.sys.sunrise | date:'HH:mm'}}</h5>
      <h5><i class="wi wi-sunset"></i> {{$ctrl.weather.sys.sunset | date:'HH:mm'}}</h5>
      <h4>{{$ctrl.weather.main.humidity | number : 0}} <i class="wi wi-humidity"></i></h4>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <h5 data-ng-if="$ctrl.forecasts[0].rain"><b>Nehmen Sie Ihren Regenschirm mit <i class="wi wi-umbrella"></i></b></h5>
    </td>
  </tr>
</table>

<table class="table-condensed">
  <tr data-ng-repeat="forecast in $ctrl.forecasts">
    <td>{{forecast.dt * 1000 | date:'EEEE'}}</td>
    <td><i class="wi" data-ng-class="forecast.weather[0].icon | convertToIcon" title="{{forecast.weather[0].description}}"></i></td>
    <td>{{forecast.temp.min | number : 0}} °C</td>
    <td>{{forecast.temp.max | number : 0}} °C</td>
    <td><i class="wi wi-umbrella" data-ng-class="forecast.rain ? '' : 'wi-rotate-180'"></i> {{forecast.rain}} {{forecast.rain ? 'mm' : ''}} </td>
  </tr>
</table>
